    /*
    body {
        background-color: blue;
        color: #27ff13;
    }

    h1 {
        background-color: red;
        color: #93ffe1
    }

    h3 {
        background-color: yellow;
        color: black;
    }

    div {
        background-color: green;
        color: #ff993f;
    }
    */

    /*
    h1 {
        background-color: red;
        color: white;
    }

    #uno {
        background-color: yellow;
        color: black;
    }

    button {
        background-color: royalblue;
        color: red;
    }

    #cancelar {
        background-color: red;
        color: royalblue;
    }
    */

.boton-cuidado {
    background-color: red;
    color: white;
}

.boton-exito{
    background-color: green;
    color: white;
}

#idMalicioso {
    background-color: black;
    color: white;
}

button {
    border: solid;
    border-color: red;
}

button:hover {
    background-color: darkturquoise;
}

button:focus {
    background-color: gold;
}
